/*homepage*/
.boxPesquisa {
    margin: 20px;
}
#pesquisa {
    margin: 0px;
    width: 400px;
    display: inline-block;
}

.list-header {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    text-align: center;
}

/*detalhes*/


/*favoritos*/


/*topmusicasportugal*/
