/*homepage*/
.boxPesquisa {
    margin: 20px;
}
#pesquisa {
    margin: 0px;
    width: 400px;
    display: inline-block;
}

.panel-default {
    margin: 20px;
}

.media-left {
    width: 100px;
    float: left;
}

.thumbnail {
    border: none;
}


/*detalhes*/


/*favoritos*/


/*topmusicasportugal*/
.card{

}
