/*homepage*/
.titulo{
    text-align: center;
}

.imagem-container{
    width: 100%;
    position: relative;
}
.filmes-detalhes {
    width: 200px;
    display: inline-block;
}
/*detalhes*/


/*favoritos*/


/*topmusicasportugal*/
.card{

}
